.contProyectos {
    width: 99%;
    height: 130vh;
}

.proyectos {
    margin: auto;
    width: 70%;
    height: 95%;
    border: 1px solid rgb(84, 218, 255);
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    color: rgb(84, 218, 255);
    margin: 0;
}

.divFlecha {
    width: 90%;
    height: min-content;
    display: flex;
    margin: 0 auto;
}

.aFlecha {
    margin-left: auto;
    display: flex;
    text-decoration: none;

    &:hover .home {
        color: rgb(97, 218, 251);
        text-decoration: underline;
    }
}

.flecha {
    color: rgb(84, 218, 255);
    margin: 0;
}

.home {
    margin: 0;
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}





/*! --------------------------------------------------------RESPONSIVE--------------------------------------------------------------- */





@media (max-width: 1530px) {
    .contProyectos {
        height: 190vh;
    }

    .proyectos {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .contProyectos {
        height: 180vh;
    }
    .proyectos {
        width: 80%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media (max-width: 440px) {
    .contProyectos {
        height: 160vh;
    }
    .proyectos {
        width: 85%;
    }
}