.contProyectos {
    width: 99%;
    height: 170vh;
}

.proyectos {
    margin: auto;
    width: 90%;
    height: 95%;
    border: 1px solid rgb(84, 218, 255);
    display: flex;
    flex-wrap: wrap;
}

.divFlecha {
    position: absolute;
    display: flex;
    top: 310%;
    right: 10%;
}

.flecha {
    color: rgb(84, 218, 255);
    margin: 0;
}

.aFlecha {
    text-decoration: none;
}

.home {
    margin: 0;
    margin-left: 0.5em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &:hover {
        color: rgb(97, 218, 251);
        text-decoration: underline;
    }
}

.titulo {
    color: rgb(84, 218, 255);
}